/* src/App.css */
.App {
  text-align: center;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.form-group input,
select,
option,
.form-group textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

option {
  text-align: center;
  background-color: rgb(164, 167, 167);
}
button {
  padding: 0.7em 1.5em;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
